Package: com.tweaks.skipsplashad
Name: SkipSplashAd
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Skip splash ads for iOS apps
Maintainer: YourName
Author: YourName
Section: Tweaks
Depends: mobilesubstrate
